* {
  min-height: 0;
  min-width: 0;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
  text-align: center;
  /* margin: .5em 1em; */
  color: #FF4A45;
  padding: 1em;

}

h3 {
  color: rgb(58, 58, 58);
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(58, 58, 58);
  margin: 1em;
  max-width: 40em;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
  color: rgb(58, 58, 58);
}

a:hover {
  color: rgb(119, 119, 119);
}

.Contact-Button {
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: #FF4A45;
  
  position: fixed;
  padding: .5em 1.2em;
  border-radius: .7em;
  margin: 1em 0em;
  opacity: 1;
  bottom: 1.5em;
  right: auto;

  box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.185); 
  transition: all 0.3s ease-in-out;

}

.Contact-Button:hover {
  box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.185);
  background-color: rgb(235, 69, 63);
  color: white;
}

.Contact-Button:active {
  background-color: rgb(196, 56, 52);
  bottom: 1.2em;
}

.Contact-Button:active {
  background-color: rgb(196, 56, 52);
  bottom: 1.2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.Section {

  height: 90vh;
  width: 90vw;

  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em;

  background-image: -webkit-gradient(linear, left top, right bottom, from(#ACEEE6), to(#ACBCEE));

  box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.185); 

  /* transition-property: all; */
  /* transition-duration: .3s ; */
  
}

/* .Section:hover {
  box-shadow:  7px 7px 7px rgba(0, 0, 0, 0.185); 
} */

.Intro {  

  height: 100vh;
  width: 100vw;

  margin: 0;

  background-image: url("./img/pattern.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-position: auto; 
  overflow: hidden;

}

.Logo {
  width: 70%;
  max-width: 25em; 

}

.AboutCont {
  display: flex;
  max-width: 40em;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
  justify-content: space-between;

}

.Selfie {
  width: 50%;
  max-width: 13em;
  min-width: 12em;
  border-radius: 10em;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.185);

}

.AboutMe {
  max-width: 40em;
}

.Carousel {
  width: 80%;
  max-width: 40em;  
}



.SliderImg {
  width: 100%;
  padding: 1em 0em;
  margin: auto;
  /* height: 5em; */

}

.RecCarousel {
  text-align: center;
}

.recSliderImg {
  border-radius: 7em;
  height: 5em;
  margin: auto;
}

.LogoSlider {
  max-width: 40em;
  width: 80%;
  display: flex;
}

.logoImg {
  height: 4em;
  margin: 1em;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.QRimage {
  width: 60%;
  max-width: 7em;
  margin: 2em auto;
  display: none;
  
}

.ContactLinks {
  display: flex;
  font-size: .8em;
  flex-direction: column;
}

@media (min-width: 670px) {
  .AboutCont {
    flex-direction: row;
  }

  .QRimage {
    display: block;
  }

  .Contact-Button {
    right: 7vw;
  }

  .ContactLinks {
    flex-direction: row;
    justify-content: space-between;  
  }

  .ContactLinks > * {
    margin: 1em;
  }

  .Selfie {
    margin: 1em;
  }

  .ContactCont {
    /* flex-direction: row; */
    /* max-width: 40em; */
    /* justify-content: eve */
    /* margin-right: 9%; */

  }

  /* .SliderText {
    display: none;
  } */

  .SliderImg {
    /* height: auto; */
  }

}